*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f4f4f5;
}

#nav{
    border: 2px  solid;  
    height: 68px;
    width: 100%;
    background-color: #34495e   ;
}

#sub-nav{
    
    height: inherit;
    width: 79%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#sub-nav span img:hover{
    cursor: pointer;
}

#sub-nav input{
    height: 33px;
    width:  587px;
    margin-top: 10px;
}

#search{
    color: rgb(197, 188, 188);
    position: absolute;
    top: 20px;
    left: 1038px;
}

#sub-nav input::placeholder{
    padding-left: 10px;
    letter-spacing: 1px;
}

#sub-nav div{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sub-nav div details summary{
    list-style-type: none ;
    color: #fff ;
    font-size: 14px;
}

#sub-nav summary i+i{
    color: #5d7186  ;
    font-size: 10px;
}

#sub-nav details{
    
    height: 35px;
    width: 130px;
    text-align: center;
    display: flex;
    align-items: center;
}

#sub-nav details summary:hover{
    cursor: pointer;
}

#sub-nav details:hover{
    background-color: #dfdff0;
}

#info{
    
    width: 82%;
    margin: auto;
    background-color: #fff;
}


#ban2{
    width: 1200px;
    height: 400px;
    position: relative;
    left: 21px;
    
}

#ban1{
    
    position: relative;
    left: 21px;
}

#ban2:hover{
    cursor: pointer;
}

.it h3{
    padding-left: 22px;
    text-transform: uppercase;
    font-size: 14px;
    color: #a1a6aa;
    letter-spacing: 1px;
}

.it ol{
    
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.it ol li{
    text-align: center;
    font-size: 14px;
    color: #1abc9c;
}

.it ol:hover{
    cursor: pointer;
}

.it ol li:hover{
    color: #12826b;
}


#brand{
    
    width: 97%;
    margin: auto; 
}

#brand-info{
    border: 1px solid rgb(239, 232, 232);
    border-radius: 5px;
}

#brand-info ol{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#brand-info img:hover{
    cursor: pointer;
}


#foot{
    
    height: 83px;
    background-color: #1abc9c;
    color: #fff;
}

#email{
    
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    gap: 10px;
    height: inherit;
}

#email p{
    font-size: 22px;
    text-transform: capitalize;
}

#email input{
    height: 32px;
    width: 270px;
    border: none;
}

#email button{
    height: 32px;
    width: 32px;
    background-color: #edeff1;
    border: none;
    position: relative;
    right: 10px;
    border-left: 1px solid #c1c2c4;
}

#email button i{
    color: #606365;
}

#email input::placeholder{
    padding-left: 10px;
    color: #bdbfc1;
}

#footer{
    height: 210px;
    
}

#sub-foot{
    
    margin: auto;
    width: 80%;
    display: flex;
    height: inherit;
    gap: 185px;
}

#sub-foot ol{
    list-style: none;
}

.lihead{
    font-size: 19px;
    font-weight: bold;
    color: #989ea3;
    line-height: 60px;
}

.lihead~li{
    font-size: 13px;
    color: #868d91;
    font-weight: 400;
    line-height: 28px;
}

.lihead{
    cursor: pointer;
}

.lihead~li:hover{
    cursor: pointer;
    color: #148f77;
}

#last{
    height: 45px;
    background-color: #fff;
    color: #979ea2;
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
}

#last span:hover{
    cursor: pointer;
    color: #148f77;
}

@media (max-width: 1200px) {
    #sub-nav {
        width: 95%;
    }
    
    #sub-nav input {
        width: 400px;
    }
    
    #search {
        left: auto;
        right: 20px;
    }
    
    #ban2 {
        width: 100%;
        left: 0;
        height: auto;
    }
    
    #ban2 img {
        width: 100%;
        height: auto;
    }
    
    #ban1 {
        left: 0;
    }
    
    #brand {
        width: 95%;
    }
}

@media (max-width: 992px) {
    #sub-nav input {
        width: 300px;
    }
    
    #sub-nav details {
        width: auto;
    }
    
    #sub-foot {
        gap: 50px;
    }
}

@media (max-width: 768px) {
    #nav {
        height: auto;
        padding: 10px 0;
    }
    
    #sub-nav {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    
    #sub-nav input {
        width: 90%;
        margin: 0;
    }
    
    #search {
        position: static;
        margin: 10px auto;
        display: block;
        color: #fff; 
    }
    
    #sub-nav div {
        flex-direction: row;
        gap: 20px;
        margin-bottom: 10px;
    }
    
    #info {
        width: 100%;
    }
    
    #ban1, #ban2 {
        width: 100%;
        height: auto;
        left: 0;
        margin-bottom: 10px;
    }
    
    #items {
        padding: 0 10px;
    }
    
    #brand-info ol {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding: 10px;
    }
    
    #brand-info img {
        height: 60px;
        width: auto;
    }
    
    #footer {
        height: auto;
        padding: 20px 0;
    }
    
    #sub-foot {
        flex-direction: column;
        gap: 30px;
        text-align: center;
        width: 90%;
        height: auto;
    }
    
    #email {
        flex-direction: column;
        height: auto;
        padding: 20px;
        width: 100%;
        gap: 15px;
    }
    
    #email input {
        width: 100%;
    }
    
    #email button {
        right: 0;
    }

    .it ol {
        gap: 20px;
    }
}
