
@import url(./section.css);
@import url(./footer.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#nav{
    /* border: 2px solid; */
    height: 44px;
    background-color: #ffffffcc;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#sub-nav{
    /* border: 2px solid red; */
    height: inherit;
    margin: auto;
    width: 65%;
}

#sub-nav ol{
    /* border: 2px solid blue; */
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 400;
    color: #333336;

}

#sub-nav ol li:hover{
    color: #000;
    cursor: pointer;
}

#sub-nav1{
    position: relative;
    top: 44px;
    /* border: 2px solid; */
    text-align: center;
    font-size: 14px;
    color: #1d1d1f;
    padding: 12px 0;
}

#sub-nav1 p a{
    color: #0071e3;
    text-decoration: none;
}

#sub-nav1 p a:hover{
    text-decoration: underline;
}