nav{
    background-color: #000;
    color: #fff;
    position: fixed;
    width: 100%;
    height: 65px;
    z-index: 10;
}

#sub-nav{
    
    width: 88%;
    height: inherit;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sub-nav div:first-child{
    
    width: 350px;
    display: flex;
}

#sub-nav ol{
    
    width: inherit;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 23px;
    font-size: 13px;
    font-weight: 600;
}   

#sub-nav div img:first-child{
    height: 29.7px;
    width: 48.28px;
    margin-right: 65px;
}

#sub-nav img{
    cursor: pointer;
}

#sub-nav div:last-child{
    display: flex;
    gap: 20px;
}

nav button{
    padding: 14px 12px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.17);
    border: none;
    cursor: pointer;
}

nav button+button{
    background-color: #fff;
    color: #000;
}

#sub-nav li{
    cursor: pointer;
}
