@import url(./nav.css);
@import url(./homepage.css);
@import url(./index.css);
@import url(./info.css);
@import url(./footer.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

@media (max-width: 1024px) {
    
    #index, #home-page, #info, #info2, #index2, #index3 {
        width: 100%;
        padding: 0 4%;
    }
    
    #grid div:first-child, #grid div:last-child {
        grid-template-columns: repeat(2, 1fr);
    }
    
    #stats {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    
    #minfo {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    #minfo img {
        width: 80%;
        height: auto;
    }
    
    #minfo img+div {
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    
    nav {
        height: auto;
        position: static;
    }
    
    #sub-nav {
        width: 100%;
        flex-direction: column;
        gap: 15px;
        padding: 10px;
    }
    
    #sub-nav div:first-child {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    
    #sub-nav div img:first-child {
        margin-right: 0;
    }
    
    #sub-nav ol {
        justify-content: center;
        flex-wrap: wrap;
    }
    
    #sub-nav div:last-child {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    
    #home-page {
        height: auto;
        padding: 40px 0;
    }
    
    #home-page h1 {
        position: static;
        text-align: center;
        margin-bottom: 30px;
        font-size: 32px;
        left: 0; top: 0;
    }
    
    #button3 {
        position: static;
        margin: auto;
        width: 90%;
        justify-content: center;
        left: 0; top: 0;
        margin-bottom: 20px;
    }
    
    #location {
        position: static;
        width: 95%;
        height: auto;
        flex-direction: column;
        gap: 15px;
        padding: 20px;
        margin-top: 0;
        top: 0;
    }
    
    #c-loc, #e-loc {
        width: 100%;
        margin: 0;
    }
    
    #s-line {
        display: none;
    }
    
    #search {
        width: 100%;
    }

    
    #index {
        width: 90%;
    }
    
    #gmedcf, #taorfe {
        font-size: 28px;
        margin-top: 40px;
    }
    
    #stats {
        flex-direction: column;
        gap: 40px;
        flex-wrap: nowrap;
    }
    
    #specs {
        flex-direction: column;
        gap: 40px;
        align-items: center;
        margin-bottom: 40px;
    }
    
    #inn {
        flex-direction: column;
        gap: 30px;
    }
    
    #inn video {
        width: 100%;
        height: auto;
    }

    
    #info, #info2 {
        height: auto;
        margin: 40px 0;
        padding: 40px 0;
    }
    
    #sub-info, #sub-info2 {
        width: 90%;
        position: static;
        margin-bottom: 0;
    }
    
    #minfo {
        flex-direction: column;
        gap: 30px;
    }
    
    #minfo img {
        width: 100%;
        height: auto;
    }
    
    #minfo img+div {
        margin-left: 0;
    }
    
    #einfo {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    
    #sub-info2 ol {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    
    #sub-info2 li > img {
        width: 100%;
        height: auto;
    }

    
    #index2, #index3 {
        width: 90%;
    }
    
    #index2-1-info {
        flex-direction: column;
        gap: 20px;
    }
    
    #grid {
        flex-direction: column;
    }
    
    #grid div:first-child, #grid div:last-child {
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    #index2-2 {
        flex-direction: column;
        margin: 40px 0;
    }
    
    #index2-2 div:first-child img {
        width: 100%;
        height: auto;
        margin-right: 0;
    }
    
    #index3 ol {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 40px;
    }
    
    #index3 li {
        width: 100%;
    }

    
    footer {
        height: auto;
        padding-bottom: 20px;
    }
    
    #sub-footer {
        position: static;
        padding-top: 40px;
    }
    
    #ufoot {
        flex-direction: column;
        gap: 30px;
        width: 90%;
    }
    
    #bfoot {
        flex-direction: column;
        text-align: center;
        gap: 15px;
        width: 90%;
    }
    
    #bfoot p {
        margin-right: 0;
    }
}
