#page5{
    height: 100vh;
    width: 100%;   
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    gap: 145px;
}

#page5 div:first-child{
    
    height: fit-content;
    position: relative;
    top: 200px;
    left: 20px;
}

#page5 img{
    width: 528px;
    position: relative;
    top: 170px;
}

#page5 h1{
    font-size: 51px;
    color: #454545;
    line-height: 1;
}

#page5 div div{
    margin-top: 10px;
    height: 10px;
    width: 128px;
    background-color: #fad796;
}

#page5 p{
    font-size: 26px;
    color: #868b98;
    padding-top: 52px;
}

#page5 button{
    margin-top: 32px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 600;
    color: #2194ff;
    background-color: transparent;
    border: 1px solid #2194ff;
    border-radius: 8px;
}

#page5 button:hover{
    cursor: pointer;
    box-shadow: 0px 2px 2px 2px #36394024;
}
