#page7{
    height: 100vh;
    width: 100%;   
    background-color: #f6f6f6;
}

#sub-page7{
    width: 75%;
    height: fit-content;
    position: relative;
    top: 60px;
    margin: auto;
    
}

#page7 h1{
    font-size: 51px;
    color: #2c2f3a;
    line-height: 1;
}

#page7 div:nth-child(2){
    margin-top: 10px;
    height: 10px;
    width: 128px;
    background-color: #fad796;
}

#page7 div:nth-child(3){
    display: flex;
    gap: 20px;
    margin-top: 32px;
    margin-bottom: 70px;
}

#page7 button{
    font-size: 16px;
    border:1px solid #2c2f3a;
    border-radius: 100px;
    padding: 12px 39px;
    color: #fff; 
    background-color: #2c2f3a;
}

#page7 button:last-child{
    background-color: transparent;
    color: #2c2f3a;
}

#page7 button:hover{
    cursor: pointer;
}

#page7 ol{
    display: flex;
    justify-content: center;
    gap: 260px;
    list-style: none;
    text-align: center;
}

#page7 img{
    margin-bottom: 60px;
}

#page7 h3{
    color: #2c2f3a;
    font-size: 25px;
    font-weight: 500;
}

#page7 h3+p{
    color: #868b98;
    font-size: 21px;
}
