#page11{
    height: 114vh;
    background-color: #2c2f3a;
}

#footer{
    width: 75%;
    margin: auto;
}

#footer div:first-child{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 340px;
}

#footer div h1{
    font-size: 51px;
    color: #fff;
    line-height: 1;
}

.line{
    height: 2px;
    border-top: 1px solid #ffffff66;
    margin: 30px 0 0 0;
    border-radius: 100%;
}

#bfoot{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    color: #868b98;
}

#bfoot div:first-child{
    
    display: flex;
    align-items: flex-start;
    width: 67%;
    height: 300px;
}

#bfoot ol{
    list-style: none;
    margin-top: 35px;
}

.headf{
    color: #e5e7eb;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 15px;
}

.headf~li{
    color: #868b98;
    font-size: 17px;
    margin-bottom: 10px;
}

 li a{
    color: #868b98;
    font-size: 17px;
 }

#bfoot ul{
    list-style: none;
    position: relative;
    top: 22px;
}

.hfoot{
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 6px;
}

#last{
    height: 105px;
    font-size: 17px;
    color: #868b98;
    display: flex;
    align-items: center;
    justify-content: center;
}
