#page1{
    height: 100vh;
    background-image: url(../Images/homeBg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#nav{
    /* border: 2px solid; */
    height: 116px;
    width: 100%;
}

#sub-nav{
    /* border: 2px solid red; */
    height: inherit;
    width: 75.5%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sub-nav ol{
    /* border: 2px solid blue; */
    width: 100%;
    list-style: none;
    color: #f4f4f6;
    font-size: 21px;
    font-weight: 400;
    display: flex;
    justify-content: space-evenly;
}

#sub-nav li:first-child{
    color: #fcc32c;
    padding-left: 20px;
}

#sub-nav img, #sub-nav li:hover{
    cursor: pointer;
    color: #fcc32c;
}

#data{
    /* border: 2px solid; */
    width: 100%;
    height: 57px;
    background-color: #111;
}

#mdata{
    /* border: 2px solid #fff; */
    height: inherit;
    font-size: 17px;
    width: 66.5%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 12px;
}

#mdata li{
    display: flex;
    color: #ffffffd8;
}

#mdata li:hover{
    cursor: pointer;
}

#mdata li strong{
    font-weight: 500;
}

.rounded{
    border: 2px solid white;
    border-radius: 100%;
    height: 5px;
    width: 5px;
    opacity: 0.6;
    background-color: #fff;
}

#p1c{
    /* border: 2px solid #fff; */
    display: flex;
    justify-content: center;
    gap: 300px;
    height: 536px;
}

#p1c img{
    height: 516.6px;
    position: relative;
    top: 18.8px;
    right: 133px;
}


#p1c h1{
    font-size: 60px;
    line-height: 0.55;
    color: #fff;
    font-weight: 600;
    letter-spacing: 3px;
}

#p1c h1+h1{
    color: #fcc32c;
}

#p1c div:first-child{
    /* border: 2px solid #fff; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    position: relative;
    top: 150px;
    left: 45px;
    height: fit-content;
}

#p1c p{
    font-size: 26px;
    color: #e5e7ebb8;
}

#p1c div div{
    display: flex;
    gap: 16px;
}

#p1c div div button{
    padding: 8px 18px;
    font-size: 16px;
    color: #fff;
    background-color: #363940;
    border: none;
    border-radius: 100px;
}

#p1c div button:nth-child(5){
    padding: 14px 40px;
    font-size: 16px;
    font-family: 500;
    color: #101011;
    background-color: #ffb738;
    border-radius: 8px;
    border: none;
}

#p1c div button:nth-child(5):hover{
    cursor: pointer;
    box-shadow: 0px 5px 5px #363940;
}