#section3{
    background-color: #d7e0ea;
    height: 828px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#content1{
   margin-top: 80px;
   height: 700px;
   width: 70%;
}
#nav1{
    height: 40px;
    width: 83%;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
}
#nav1 span:first-child{
    color: #071228;
    background-color: transparent;
    font-weight: 700;
    display: flex;
}
#nav1 span+span{
    color: #7e8daa;
    font-weight: 600;
}
#content1 p{
    font-size: 17px;
    width: 37%;
    line-height: 26px;
    margin-top: 50px;
}
#content1 button{
    height: 45px;
    width: 140px;
    font-size: 15px;
    background-color: #00dcf7;
    border: none;
    margin-top: 40px;
    font-weight: 300;
}
#content1 img{
    position: absolute;
    right: 270px;
    top: 1810px;
    width: 644px;
    height: 593px;
}
#content1 button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.7s;
}
#nav1 span:hover{
    cursor: pointer;
    color: #071228;
    transition: 0.6s;
}
