#section{
    
    margin: auto;
    margin-top: 7px;
    width: 88%;
    height: 538px;
    padding: 80px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2B2A3C;
}

#section img{
    height: 40px;
    width: 165px;
}

#section img:hover{
    cursor: pointer;
}

#section input{
    width: 440px;
    height: 50px;
    border-radius: 12px;
    border: none;
}

#section input::placeholder{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", Arial;
}

#inb button{
    height: 50px;
    width: 50px;
    background-color: #ffbade;
    border: none;
    border-radius: 12px;
}

#inb button:hover{
    cursor: pointer;
}

#inb button i{
    font-size: 20px;
    font-weight: 900;
}

#inb{
    display: flex;
    align-items: center;
    gap: 12px;
}

#inb +div{
    font-size: 14px;
    line-height: 25px;
    font-weight: 500;
    padding-bottom: 15px;
}

#inb+div:hover{
    cursor: pointer;
}

#inb+div>strong:hover{
    cursor: text;
}

#inb+div+button{
    height: 60px;
    width: 260px;
    background-color: #ffbade;
    font-size: 20px;
    
    border-radius: 12px;
    border: none;
    font-weight: 600;
    color: #111;
}

#inb+div+button:hover{
    cursor: pointer;
}

#bg{
    
    height: inherit;
    width: 44%;
    position: absolute;
    top: 127px;
    right: 92px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-image: linear-gradient(90deg, rgb(43,42,60) 0%, rgba(43, 42 ,60, 0.5), rgba(43,42,60, 0.45)), url(../images/anw-min.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000000;
}

#share , #share+p{
    
    margin-left: 11.3%;
}

#share{
    font-weight: 600;
    font-size: 14px;
    color: #ffbade;
    font-family: "Poppins", Arial;
    margin-top: 40px;
}

#share+p{
    font-size: 12px;
    color: #ccc;
    font-weight: 400;
    line-height: 22px;
}

@media (max-width: 1200px) {
    #section {
        width: 95%;
        padding: 60px;
    }
    
    #bg {
        width: 50%;
        right: 0;
    }
}

@media (max-width: 992px) {
    #section {
        height: auto;
        gap: 40px;
    }
    
    #bg {
        position: relative;
        width: 100%;
        height: 300px;
        top: 0;
        right: 0;
        margin-top: 20px;
        border-radius: 20px;
    }
}

@media (max-width: 768px) {
    #section {
        width: 95%;
        height: auto;
        padding: 30px 20px;
        margin-top: 20px;
        border-radius: 30px;
    }
    
    #section input {
        width: 100%; 
    }
    
    #inb {
        width: 100%;
        flex-wrap: wrap;
    }
    
    #bg {
        display: none; 
    }
    
    #share, #share+p {
        margin-left: 10px;
    }
    
    #inb+div+button {
        width: 100%;
    }
    
    #section img {
        margin-bottom: 20px;
        width: auto;
        height: 35px;
    }
}
